@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-100 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-300 rounded-full;
}

.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #14213d #d1dbf0;
}
